/* 登陆界面 */
QPushButton
{
    border-radius: 6px;
    color: white;
    background-color:#34495e;
}
QLabel#lb_title
{
    color:black;
    font-size: 24px;
}
QLabel#lb1
{
    color:#34495e;
    font-size: 18px;
}
QLabel#lb2
{
    color:#34495e;
    font-size: 18px;
}
QLineEdit
{
    border:2px solid #bdc3c7;
    border-radius: 6px;
}