/*主界面*/

/*导航栏背景样式*/
QWidget#bg_title
{
    background-color: #34495e;
    border:1px solid gray;
}
/*主界面按钮样式*/
QPushButton[btn="main"]
{
    font-family: "微软雅黑";
    font-size: 18px;
    min-width: 100px;
    min-height: 28px;
    border-radius: 3px;
    background-color:#398072;
}

QPushButton[btn="main"]:pressed
{
    font-family: "微软雅黑";
    font-size: 18px;
    min-width: 100px;
    min-height: 28px;
    border-radius: 3px;
    background-color:#1abc9c;
}
/*主界面样式*/
QLabel
{
    color: white;
}
/*右侧导航栏样式*/
QTreeWidget
{
    font-size: 18px;
    background-color: rgba(52, 73, 94, 220);
    color: white;
}
/*搜索框样式*/
QLineEdit
{
    border-radius: 6px;
    border:1px solid #398072;
    min-height:26px;
}
/*表格样式*/
QTableWidget#tableWidget
{
    border:1px solid gray;
}
/*表格头样式*/
QHeaderView::section
{
    color:#909399;
    font-size:14px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    height: 38px;
    background-color: white;
    border:1px solid rgb(235, 238, 245);
    border-top: none;
    border-left: none;
    border-right: none;
}
/*表格条目样式*/
QTableWidget::item
{
    font:14px "微软雅黑";
    color:#677483;
    border:none;
}
/*学生数量的颜色*/
QLabel#lb_cnt
{
    color: red;
}

/*管理界面的样式（第二页）*/
QPushButton[btn1="main"]
{
    font-family: "微软雅黑";
    font-size: 18px;
    min-width: 100px;
    min-height: 28px;
    border-radius: 3px;
    background-color:#398072;
}

QPushButton[btn1="main"]:pressed
{
    font-family: "微软雅黑";
    font-size: 18px;
    min-width: 100px;
    min-height: 28px;
    border-radius: 3px;
    background-color:#1abc9c;
}
/*用户数量的颜色*/
QLabel#lb_cnt_2
{
    color: red;
}
